html{
    font-family: sans-serif;
    font-size: 18px;
    background-color: #F5F5F5;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#537082;
}
nav li{    float: left;  } 
nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
nav li a:hover{
    background-color: #313D4D;
}





body{
    padding: 1em;
    border-left:  black;
    border-right:  black;
}
h2{
    font-size: 2em;
    text-align: center;
}
p{
    margin: 1em;
    line-height: 1.75;
    white-space: pre-wrap;
}